#date-column {
  width: 6rem;
}

.spinner {
  width: 5rem;
  height: 5rem;
}

.justify-content-center {
  display: flex !important;
  justify-content: center !important;
}

.loading {
  position: fixed;
  left:0;
  top:25em;
}