#date-column {
  width: 6rem;
}

#name-column {
  width: 12rem;
}

#credit-debit-column {
  width: 2rem;
}

.spinner {
  width: 5rem;
  height: 5rem;
}

.justify-content-center {
  display: flex !important;
  justify-content: center !important;
}

.loading {
  position: fixed;
  left:0;
  top:25em;
}
